body {
    background: #34E1FF;
    font-family: "Fredoka One", cursive;
    overflow-x: hidden;
    margin: 0;
}

.navbar {
    background-color: #1e3a8a;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: #dc2626; /* Vermelho */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #575757;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #777;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Esquema de cores: Vermelho, Azul, Cinza */
.navbar {
    background-color: #1e3a8a; /* Azul */
}

.nav-links a:hover, .dropdown-content a:hover {
    background-color: #dc2626; /* Vermelho */
}

.logo, .nav-links a, .dropdown-content a {
    color: #f4f4f4; /* Cinza claro */
}

/* Estilos da janela de confirmação */
.confirmation-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.confirmation-dialog.open {
    display: block;
}

.confirmation-content {
    text-align: center;
}

.confirmation-content p {
    margin-bottom: 20px;
}

.confirmation-content button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #1e3a8a;
    color: white;
    border: none;
    cursor: pointer;
}

.confirmation-content button.yes {
    background-color: #dc2626;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 80px auto;
    overflow-y: auto;
}

h1, h2 {
    text-align: center;
}

.form-container {
    margin-top: 12px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #4B0082;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: #9932CC;
}

.button-small {
    width: auto;
    padding: 8px 12px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.actions .button {
    margin: 0 5px;
}

#meeting-list,
#consult-results {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
}

/* Adicione margens entre os botões no formulário de consulta e cancelamento */
#consult-form .button,
#cancel-form .button {
    margin-top: 10px;
}

#consult-form .button:first-of-type,
#cancel-form .button:first-of-type {
    margin-right: 10px;
}
